<html>
 <head>
 <title> Agendar Avaliação Física </title>
 <meta name="description" content="">
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
 </head>

 <body bgcolor="#CCC">
    
  <h1>  Agendar Avaliação Física:</h1> 
  

<form action="Formulario.php" method="post">

<!-- Aluno-->
<fieldset>
 <legend>Aluno</legend>
 <table cellspacing="10">
 <tr>
   <td>
    <label for="nome">Nome: </label>
   </td>
   <td align="left">
    <input type="text" name="email">
   </td>
   <td>
    <label for="sobrenome">Sobrenome: </label>
   </td>
   <td align="left">
    <input type="text" name="sobrenome">
   </td>
  </tr>
  
   <tr>
   <td>
    <label>CPF:</label>
   </td>
   <td align="left">
    <input type="text" name="cpf" size="9" maxlength="9"> - <input type="text" name="cpf2" size="2" maxlength="2">
   </td>
  </tr>
  <tr>
   <td>
    <label>Data: </label>
   </td>
   <td align="left">
    <input type="text" name="dia" size="2" maxlength="2" value="dd"> 
   <input type="text" name="mes" size="2" maxlength="2" value="mm"> 
   <input type="text" name="ano" size="4" maxlength="4" value="aaaa">
   </td>
  </tr>
  <td>
    <label for="hora">Hora: </label>
   </td>
   <td align="left">
    <input type="text" name="hora">
   </td>
  </tr>
  <br>
  
 </table>
</fieldset>




<br />
<input type="submit">
<input type="reset" value="Limpar">
<br />

</form>

 </body>
</html>





