<html>
 <head>
 <title> Avaliação Física </title>
 <meta name="description" content="">
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
 </head>

 <body bgcolor="#CCC">
    
  <h1> Avaliação Física:</h1> 
  

<form action="Formulario.php" method="post">

<!-- DADOS PESSOAIS-->
<fieldset>
 <legend>Dados Pessoais</legend>
 <table cellspacing="10">
 <tr>
   <td>
    <label for="nome">Nome: </label>
   </td>
   <td align="left">
    <input type="text" name="email">
   </td>
   <td>
    <label for="sobrenome">Sobrenome: </label>
   </td>
   <td align="left">
    <input type="text" name="sobrenome">
   </td>
  </tr>
  <tr>
   <td>
    <label>CPF:</label>
   </td>
   <td align="left">
    <input type="text" name="cpf" size="9" maxlength="9"> - <input type="text" name="cpf2" size="2" maxlength="2">
   </td>
  </tr>
  <td>
    <label for="idade">Idade: </label>
   </td>
   <td align="left">
    <input type="text" name="idade">
   </td>
  <tr>
   <td>
    <label>Data Avaliação: </label>
   </td>
   <td align="left">
    <input type="text" name="dia" size="2" maxlength="2" value="dd"> 
   <input type="text" name="mes" size="2" maxlength="2" value="mm"> 
   <input type="text" name="ano" size="4" maxlength="4" value="aaaa">
   </td>
  </tr>
  <br>
  
 </table>
</fieldset>

<br />

<!-- MEDIDAS -->

<fieldset>
 <legend>Medidas</legend>
 <table cellspacing="10">
 <td>
    <label for="altura">Altura: </label>
   </td>
   <td align="left">
    <input type="text" name="altura">
   </td>
  </tr>
<tr>
   <td>
    <label for="peso">Peso: </label>
   </td>
   <td align="left">
    <input type="text" name="peso">
   </td>
   
  
  <tr>
   <td>
    <label for="peso">IMC: </label>
   </td>
   <td align="left">
    <input type="text" name="peso">
   </td>
   
  
 </table>
</fieldset>
<br />

<!-- DOBRAS CULTÂNEAS -->

<fieldset>
 <legend>Dobras cultânes em (MM)</legend>
 <table cellspacing="10">
  
 <tr>
   <td>
    <label for="subescapular">Subescapular: </label>
   </td>
   <td align="left">
    <input type="text" name="subescapular">
   </td>
   <td>
    <label for="tricipital">Tricipital: </label>
   </td>
   <td align="left">
    <input type="text" name="tricipital">
   </td>
  </tr> 
  
  <tr>
   <td>
    <label for="axilar">Axilar-Média: </label>
   </td>
   <td align="left">
    <input type="text" name="axilar">
   </td>
   <td>
    <label for="supra">Supra-Ilíaca: </label>
   </td>
   <td align="left">
    <input type="text" name="supra">
   </td>
  </tr> 
  
  <tr>
   <td>
    <label for="peitoral">Peitoral: </label>
   </td>
   <td align="left">
    <input type="text" name="peitoral">
   </td>
   <td>
    <label for="abdominal">Abdominal: </label>
   </td>
   <td align="left">
    <input type="text" name="abdomianal">
   </td>
  </tr> 
  <tr>
   <td>
    <label for="coxa">Coxa: </label>
   </td>
   <td align="left">
    <input type="text" name="coxa">
   </td>
   <td>
    <label for="panturrilha">Panturrilha: </label>
   </td>
   <td align="left">
    <input type="text" name="panturrilha">
   </td>
  </tr> 
  
  
 </table>
</fieldset>
<br />

<!-- RESULTADO -->

<fieldset>
 <legend>Resultado</legend>
 <table cellspacing="10">
 <td>
    <label for="gordura"> Gordura Atual %: </label>
   </td>
   <td align="left">
    <input type="text" name="gordura">
   </td>
  </tr>
<tr>
   <td>
    <label for="gordura">Gordura  Ideal %: </label>
   </td>
   <td align="left">
    <input type="text" name="gordura">
   </td>
   
  
  <tr>
   <td>
    <label for="massa">Massa Magra kg: </label>
   </td>
   <td align="left">
    <input type="text" name="massa">
   </td>
   <tr>
   <td>
    <label for="massa">Massa Gorda kg: </label>
   </td>
   <td align="left">
    <input type="text" name="massa">
   </td>
   
  
 </table>
</fieldset>

<br />
<br />
<br />
<input type="submit">
<input type="reset" value="Limpar">
</br>


</form>

 </body>
</html>





