<html>
 <head>
 <title> Fixa de Treino </title>
 <meta name="description" content="">
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
 </head>

 <body bgcolor="#ccc">
    
  <h1> Fixa de Treino do Aluno:</h1> 
  

<form action="Formulario.php" method="post">

<!-- DADOS PESSOAIS-->
<fieldset>
 <legend>Fixa de treino</legend>
 
 <table cellspacing="25">
  <tr>
   <td>
    <label for="nome">Nome: </label>
   </td>
   <td align="left">
    <input type="text" name="email">
   </td>
   <td>
    <label for="sobrenome">Sobrenome: </label>
   </td>
   <td align="left">
    <input type="text" name="sobrenome">
   </td>
  </tr>
  <tr>
   <td>
    <label>CPF:</label>
   </td>
   <td align="left">
    <input type="text" name="cpf" size="9" maxlength="9"> - <input type="text" name="cpf2" size="2" maxlength="2">
   </td>
  </tr>
  <tr>
   <td>
    <label>Data de inicio: </label>
   </td>
   <td align="left">
    <input type="text" name="dia" size="2" maxlength="2" value="dd"> 
   <input type="text" name="mes" size="2" maxlength="2" value="mm"> 
   <input type="text" name="ano" size="4" maxlength="4" value="aaaa">
   </td>
  </tr>
  <br>
  
 <tr>
   <td>
    <label for="segunda">Segunda: </label>
   </td>
   <td align="left">
    <input type="text" name="segunda">
   </td>
   <td>
    <label for="hora">Hora do Treino: </label>
   </td>
   <td align="left">
    <input type="text" name="hora">
   </td>
  </tr> 
  <tr>
   <td>
    <label for="terca">Terça: </label>
   </td>
   <td align="left">
    <input type="text" name="terca">
   </td>
   <td>
    <label for="hora">Hora do Treino: </label>
   </td>
   <td align="left">
    <input type="text" name="hora">
   </td>
  </tr> 
  <td>
    <label for="quarta">Quarta: </label>
   </td>
   <td align="left">
    <input type="text" name="quarta">
   </td>
   <td>
    <label for="hora">Hora do Treino: </label>
   </td>
   <td align="left">
    <input type="text" name="hora">
   </td>
  </tr>
  <td>
    <label for="quinta">Quinta: </label>
   </td>
   <td align="left">
    <input type="text" name="quinta">
   </td>
   <td>
    <label for="hora">Hora do Treino: </label>
   </td>
   <td align="left">
    <input type="text" name="hora">
   </td>
  </tr>
<td>
    <label for="sexta">Sexta: </label>
   </td>
   <td align="left">
    <input type="text" name="Sexta">
   </td>
   <td>
    <label for="hora">Hora do Treino:</label>
   </td>
   <td align="left">
    <input type="text" name="hora">
   </td>
  </tr>   
   </table>
  </fieldset>
  <br />

<input type="button" name="imprimir" value="Imprimir" onclick="window.print();">
   
</form>

 </body>
</html>