<html>
 <head>
 <title> Dieta </title>
 <meta name="description" content="">
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
 </head>

 <body bgcolor="#CCC">
    
  <h1> Dieta:</h1>  

<form action="Formulario.php" method="post">

<!-- DADOS PESSOAIS-->

<fieldset>
 <legend>Dados Pessoais</legend>
 <table cellspacing="10">
 <tr>
   <td>
    <label for="nome">Nome: </label>
   </td>
   <td align="left">
    <input type="text" name="email">
   </td>
   <td>
    <label for="sobrenome">Sobrenome: </label>
   </td>
   <td align="left">
    <input type="text" name="sobrenome">
   </td>
  </tr>
  <tr>
   <td>
    <label>CPF:</label>
   </td>
   <td align="left">
    <input type="text" name="cpf" size="9" maxlength="9"> - <input type="text" name="cpf2" size="2" maxlength="2">
   </td>
  </tr>
  <br>
  
 </table>
</fieldset>

<br />

<!-- OPÇÃO 1 -->

<fieldset>
 <legend>Opção 1</legend>
 <table cellspacing="10">
 <td>
    <label for="cafe">Café da Manhã: </label>
   </td>
   <td align="left">
    <textarea rows="7" cols="30" maxlength="400"></textarea>
   </td>
  </tr>
<td>
    <label for="lanche">Lanche da Manhã: </label>
   </td>
   <td align="left">
    <textarea rows="7" cols="30" maxlength="400"></textarea>
   </td>
  </tr>
  
  <td>
    <label for="almoco">Almoço: </label>
   </td>
   <td align="left">
    <textarea rows="7" cols="30" maxlength="400"></textarea>
   </td>
  </tr>
<td>
    <label for="lanche">Lanche da Tarde: </label>
   </td>
   <td align="left">
    <textarea rows="7" cols="30" maxlength="400"></textarea>
   </td>
  </tr>
  
  <td>
    <label for="jantar">Jantar: </label>
   </td>
   <td align="left">
    <textarea rows="7" cols="30" maxlength="400"></textarea>
   </td>
  </tr> 
 
 </table>
</fieldset>



<!-- OPÇÃO 2 -->

<fieldset>
 <legend>Opção 2</legend>
 <table cellspacing="10">
 <td>
    <label for="cafe">Café da Manhã: </label>
   </td>
   <td align="left">
    <textarea rows="7" cols="30" maxlength="400"></textarea>
   </td>
  </tr>
<td>
    <label for="lanche">Lanche da Manhã: </label>
   </td>
   <td align="left">
    <textarea rows="7" cols="30" maxlength="400"></textarea>
   </td>
  </tr>
  
  <td>
    <label for="almoco">Almoço: </label>
   </td>
   <td align="left">
    <textarea rows="7" cols="30" maxlength="400"></textarea>
   </td>
  </tr>
<td>
    <label for="lanche">Lanche da Tarde: </label>
   </td>
   <td align="left">
    <textarea rows="7" cols="30" maxlength="400"></textarea>
   </td>
  </tr>
  
  <td>
    <label for="jantar">Jantar: </label>
   </td>
   <td align="left">
    <textarea rows="7" cols="30" maxlength="400"></textarea>
   </td>
  </tr>
  
 </table>
</fieldset>

</br>
<input type="button" name="imprimir" value="Imprimir" onclick="window.print();">

</form>

 </body>
</html>





