<!DOCTYPE html>
   
<html>

		<head>
				<link type="text/css" rel="stylesheet" href="./style/style_login.css"/>
				<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
				<title> Login de Usuário </title>
		</head>
<body>

            <div id="best"><img src="./imagem/logo.jpg"></div>
			<div id="saldações"><h1>Sejam Bem Vindos a Fitness</h1></div>
			<div id="ajustar_tela">
			
	<form id="login">
	
		<label for="usuario">Usuário</label>
		<input type="text" name="usuario" class="txt"/>
		<label for="senha">Senha:</label>
		<input type="password" name="senha" class="txt"/>
		<input type="submit" name="botao" class="sb" value="Entrar" />
		
	</form>
	
</div>
	 
</body>
</html>



