<html>
 <head>
 <title>Atualizar Funcionário </title>
 <meta name="description" content="">
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
 </head>

 <body bgcolor="#CCC">
    
  <h1> Atualizar Funcionário:</h1> 
  

<form action="Formulario.php" method="post">

<!-- DADOS PESSOAIS-->
<fieldset>
 <legend>Insira o CPF do Funcionário</legend>
 <table cellspacing="10">

 
  <tr>
   <td>
    <label>CPF:</label>
   </td>
   <td align="left">
    <input type="text" name="cpf" size="9" maxlength="9"> - <input type="text" name="cpf2" size="2" maxlength="2">
   </td>
  </tr>
  

 </table>
</fieldset>
<br />
<input type="button" name="Buscar" value="Buscar">
<input type="reset" value="Limpar">

</form>

 </body>
</html>