

<html>
 <head>
 <title> Cadastra Receitas </title>
 <meta name="description" content="">
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
 </head>

 <body bgcolor="#CCC">
    
  <h1> Cadastar Receitas  </h1> 
  

<form action="Formulario.php" method="post">


<fieldset>
 <legend> Receitas Diária </legend>
 <table cellspacing="10">
 
 <tr>
   <td>
    <label for="nome">Data: </label>
   </td>
   <td align="left">
   
    <input type="text" name="email">
   </td>
   
   <td>
    <label for="sobrenome">Descrição: </label>
   </td>
   <td align="left">
    <input type="text" name="sobrenome">
   </td>
   <td>
    <label for="sobrenome">Valor: </label>
   </td>
   <td align="left">
    <input type="text" name="sobrenome">
   </td>  
   
  </tr>
  
   
  
 </table>
</fieldset>




<br />
<input type="submit">

<br />

</form>

 </body>
</html>





