

<html>
 <head>
 <title> Gerar Relatorio Despesas </title>
 <meta name="description" content="">
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
 </head>

 <body bgcolor="#CCC">
    
  <h1> Gerar Relátorio Despesas  </h1> 
  

<form action="Formulario.php" method="post">


<fieldset>
 <legend> Gerar relatório Despesas </legend>
 <table cellspacing="10">
 
 
  <tr>
   <td>
    <label>Data: </label>
   </td>
   <td align="left">
    <input type="text" name="dia" size="2" maxlength="2" value="dd"> 
   <input type="text" name="mes" size="2" maxlength="2" value="mm"> 
   <input type="text" name="ano" size="4" maxlength="4" value="aaaa">
   </td>
  </tr>
  
   
   
  
   
  
 </table>
</fieldset>




<br />
<input type="button" name="Listar" value="Listar">
<input type="button" name="imprimir" value="Imprimir" onclick="window.print();">
<br />

</form>

 </body>
</html>





