
  /*============================ CSS  menu SECRETARIO ==================================*/
  


body{background-color: black; padding: 2%;	}

#espaço{background-color: black;width:50px;	height:50px;}

#titulo{color:white;margin-top:5px;float:center;font-family: sans-serif;	font-size: 35px;text-align: center;}

/*=====================================*/

#ba{background-color: yellow; width:300px; height:100px;margin:40px;display: block;margin-top:50px;float:left;font-family: sans-serif;	font-size: 15px;text-align: center;}

#ca{background-color: green; width:300px; height:100px;margin:40px;display: block;float:left; margin-top:50px;font-family: sans-serif;	font-size: 15px;	text-align: center;}

#vda{ background-color: orange; width:300px; height:100px;margin:40px;display: block;float:left;margin-top:50px;font-family: sans-serif;	font-size: 15px;	text-align: center;}

#it{background-color: pink; width:300px; height:100px;margin:40px;display: block;clear: both; float:left;font-family: sans-serif;	font-size: 15px;	text-align: center;}

#vt{background-color: white; width:300px; height:100px;margin:40px;display: block;float:left;font-family: sans-serif;	font-size: 15px;	text-align: center;}

#id{background-color: yellow; width:300px; height:100px;margin:40px;display: block;margin-top:50px;float:left;font-family: sans-serif;	font-size: 15px;text-align: center;}
                	
	/*=====================================*/
	
#vaf{background-color: pink; width:300px; height:100px;margin:40px;display: block;margin-top:50px;float:left;font-family: sans-serif;	font-size: 15px;text-align: center;}

#caff{background-color: green; width:300px; height:100px;margin:40px;display: block;float:left; margin-top:50px;font-family: sans-serif;	font-size: 15px;	text-align: center;}

#iaaf{ background-color: pink; width:300px; height:100px;margin:40px;display: block;float:left;margin-top:50px;font-family: sans-serif;	font-size: 15px;	text-align: center;}

#gb{background-color: blue; width:300px; height:100px;margin:40px;display: block;clear: both; float:left;font-family: sans-serif;	font-size: 15px;	text-align: center;}

#caf{background-color: white; width:300px; height:100px;margin:40px;display: block;float:left;font-family: sans-serif;	font-size: 15px;	text-align: center;}

#ab{background-color: yellow; width:300px; height:100px;margin:40px;display: block;margin-top:50px;float:left;font-family: sans-serif;	font-size: 15px;text-align: center;}
                	        	
		/*=====================================*/
#ada{background-color: yellow; width:300px; height:100px;margin:40px;display: block;margin-top:50px;float:left;font-family: sans-serif;	font-size: 15px;text-align: center;}		

				
				

